#rooty
  %p
    This is just a place to play with react components.  It is only available in the dev env.

  %p
    It should probably be broken into tabs for different components.  This is a playground - have fun and don't worry too much.

  = react_component "edit_link"

  = react_component 'batch_salt_and_solvent_editor', { defaultSaltData: {salt_count: 44, salt_name: 'Acid, baby!'}, solventOptions: [{label: 'h20', value: 1}], should_use_stoichiometry: true }
