%link{ href: "/favicon.png", rel: "shortcut icon", type: "image/icon" }

-# = javascript_tag do
-#   :plain
-#     window.__skip_failing_mocha_js_tests = true

= javascript_pack_tag "commons"
-# = stylesheet_pack_tag "styles/application", media: 'screen, print'
= javascript_pack_tag 'javascripts/application'
